.calculator {
	border-style: solid;
	background-color: rgb(26, 26, 26);
	width: 235px;
	height: 375px;
}

#calculator_display {
	width: 210px;
	height: 40px;
	text-align: right;
	text-overflow: clip;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20pt;
	padding-top: 15px;
	padding-right: 4px;
	padding-bottom: 10px;
	margin: 15px 10px 10px 10px;
	background-color: white;
}

.calculator_keys {
  display:grid;
  grid-gap: 5px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  margin: 10px 10px 5px 10px;
  }

button {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13pt;
	background-color: rgb(153, 153, 153);
	display:flex;
	align-items: center;
	justify-content: center;
}

.delete {
	grid-row: 2;
  	grid-column: 4;
  	background-color: rgb(153, 153, 153);
}

.equal {
	grid-row-start: 3;
  	grid-row-end: 6;
  	grid-column: 4;
  	background-color: rgb(255, 117, 26);
}

img {
	width: 20px;
	height: auto;
}
